.App {
  text-align: center;
}


.row {
  display: flex;
  justify-content: center;
}

.slide{
  position: fixed;
  background-color: black;
  width: 100px;
  height: 200px;
  right: 0%;
  top: 50%;
}

#myVideo {
  position: fixed;
  z-index: -1;
  left: 0%;
  top:0%;
  min-width: 100%;
  min-height: 100%;
}
/* 

Cambiar el fondo

Ver la posibilidad de agregar una barra de botones para cambiar el background



*/