.central{
padding-top: 25px;
}

.central h1{
    color: white;
    font-size: 35px;
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.photo {
    background-image: url('../img/Profile-Picture.jpg');
    background-size:cover;
    background-position: 0%;
    min-width: 350px;
    min-height: 350px;
    border-radius: 170px;
    border: 5px rgb(156, 156, 156) solid;
    box-shadow: 2px 2px .5em rgb(133, 133, 133), -1px 0 .4em rgb(214, 212, 212);
    filter: saturate(0.2);
}

.photo:hover {
    filter: saturate(1);
}

.description{
    color:white;
    max-width: 430px;
    margin-left: 120px;
    margin-top: 50px;
}

.description h2 {
    margin-bottom: 25px;
}

.section{
    display: flex;
    margin-top: 90px;
    justify-content: space-evenly;
}

.skills{
    color: white;
}

.skills h3 {
    font-size: 25px;
}

.logos {
    display: grid;
    grid-template-columns: 200px 150px 170px 150px;
    margin-top: 70px;
}


.css {
    max-width: 150px;
}

.js{
    max-width: 100px;
    border-radius: 20px;
}

.react{
    max-width: 130px;
}

.sass{
    max-width: 150px;
    margin-top: -20px;
}

.portfolio{
    color: white;
}

.portfolio h3 {
    margin-top: -10px;
}
.capture{
    background-image: url('../img/Portfolio-gif.gif');
    background-size:contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 0%;
    margin-top: 10px;
}

