.central{
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
position: fixed;
width: 100%;
height: 100%;
}

.central h1{
    color: white;
}




/* 
Deberia ser una pagina de estilo formal, la cual incluya una breve descripcion de mi, algunos datos
de como hice esta app justo con informacion sobre los estilos, y un enlace a mi portfolio.


Ver la posibilidad de:

* Colocar una foto mia
* Colocar enlaces a los otros proyectos

*/ 