.general{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(104, 103, 103, 0.5);
  height: 55px;
  width: 100%;
}

.navbar-b{
  display: flex;
}

.title{
  font-weight: bold;
  padding-top:12px;
  color: white;
}

.logo{
  height: 50px;
  width: 80px;
  transform: rotate(-4deg);
}

.about {
  background: linear-gradient(90deg, #c13eff, #ff3ec9);
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
  filter: grayscale(80%);
  transition: filter 200ms;
  font-weight:700;
  font-size: 22px;
}

.about:hover{
  filter: grayscale(0%)
}


